.add-list__popup-colors{
  display: flex;
  justify-content: space-between;
}
.add-list {
  width: 240px;

  &__popup {
    width: 235px;
    height: 150px;
    background: #ffff;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 18px;
    position: relative;
  }

  .add-list__popup-close-btn{
    position: absolute;
    right: -8px;
    top:-8px;
    cursor: pointer;
  }
  .button {
    width: 100%;
    margin-top: 15px;
  }



  .badge {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    cursor: pointer;
    &.active{
      border: 2px solid #69bea9;
    }
  }

}